.footer{
    width: 100%;
}
@media screen and (max-width:716px){
    .footer{max-width: 282px;}
}
.footer__copyright{
    width: 318px;
    color: #545454;
    font-size: 18px;
    margin-top:67px;
    margin-bottom:60px;
    height: 18px;   
}
@media screen and (max-width:716px){
    .footer__copyright{
        height: 14px;
        margin-top: 48px;}
}